__pycache__/

/dist/
/build/
/flatpak/.flatpak-builder/
/flatpak/build/
/.idea/
/flatpak/repo/
/REVHubInterface/_version.py
/.flatpak-builder/
/repo/
/REVHubInterface.egg-info/
.part
pkg
RevHubInterface
.venv

/REVHubInterface/build

/REVHubInterface/dist