[Desktop Entry]
Name=REV Hub Interface - Community Edition
Exec=/usr/bin/revhubinterface
Type=Application
Icon=/usr/share/pixmaps/revhubinterface.png
Categories=Development