on:
  push:
    branches:
      - trigger-actions

jobs:
  pyinstaller-build-mac:
    runs-on: macos-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          pyinstaller_ver: '==6.6.0'
          spec: 'REVHubInterface-mac.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'REVHubInterface_Mac_Binary'
          options: --onefile, --name "REVHubInterface", --windowed, --collect-data "sv_ttk",
      - name: Make DMG
        uses: QQxiaoming/create-dmg-action@v0.0.2
        with:
          name: 'REVHubInterface_Mac_DMG'
          srcdir: './dist'
      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: 'REVHubInterface_Mac_DMG'
          path: './REVHubInterface_Mac_DMG.dmg'
  pyinstaller-build-win:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          pyinstaller_ver: '==6.6.0'
          spec: 'REVHubInterface.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'REVHubInterface_Windows'
          options: --onefile, --name "REVHubInterface", --windowed, --collect-data "sv_ttk",
  pyinstaller-build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          pyinstaller_ver: '==6.6.0'
          spec: 'REVHubInterface.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'REVHubInterface_Linux'
          options: --onefile, --name "REVHubInterface", --windowed, --collect-data "sv_ttk",
      
        
    
