on:
  push:
    branches:
      - main

jobs:
  pyinstaller-build-mac:
    runs-on: macos-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          pyinstaller_ver: '==6.6.0'
          spec: 'REVHubInterface.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'REVHubInterface_Mac_Binary'
      - name: Make DMG
        uses: unofficial-rev-port/create-dmg-action-fixed-icon@v0.0.3
        with:
          name: 'REVHubInterface_Mac_DMG'
          srcdir: './dist'
      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: 'REVHubInterface_Mac_DMG'
          path: './REVHubInterface_Mac_DMG.dmg'
  pyinstaller-build-win:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          pyinstaller_ver: '==6.6.0'
          spec: 'REVHubInterface.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'REVHubInterface_Windows'
  pyinstaller-build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          pyinstaller_ver: '==6.6.0'
          spec: 'REVHubInterface.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'REVHubInterface_Linux'
      
        
    
